body{
    display: flex;
    justify-content: center;
    background-color: rgba(18, 19, 29, 0.452);
}

form{

    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(1, 75, 127);
    border-style: solid;

    height: 90px;
    border-radius: 10px;
    box-shadow: 0 20px 4px rgba(9, 204, 159, 0.1); 
    width: 700px;

}

.input{
 margin-top: 6px;
 }

.btn{
    margin-top: 3px;
    background-color: rgb(145, 179, 239);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow:rgb(13, 210, 92);
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 50px;
    font-size: 20px;
}

button{
    border-radius: 12px;
}

.btn:hover{
    background-color: rgb(51, 129, 224);
}

.item_button{
    border-style: dashed;
    background-color: rgb(102, 166, 234);
    color: wheat;
    margin-right: 10px;
    border-radius: 1px;
    margin: auto;
    

}
form{
    justify-content: center;
    display: flex;
}

.todolist{
    
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(255, 23, 23, 0.5);
    background-color: rgb(219, 234, 238);
    border-radius: 10px;
    cursor: pointer;

}
.todolist:hover{
    background-color: red;
    transition: background-color 0.3s ease;
}
.todolist .todoitems{
    background-color: rgb(226, 230, 235);
}
.todolist h3{
color: rgb(255, 20, 20);
font-weight: lighter;
    
}

.todolist .clear_item_btn{
    margin: 10px auto; 
    display: block;
    background-color: rgb(22, 117, 181);
    color: whitesmoke;
    border-style: solid;
    width: 100px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
}



.todolist h2{
    color: rgb(22, 154, 255);
    margin-left: 20px;
}



.clear_item_btn:hover{
    background-color: red;
    border-radius: 10px;
}

.completed-tasks{
    margin-top: 20px;
    border-radius: 4px;

    /* box-shadow: 0px 0px 10px rgba(2, 151, 79, 0.5); */
    background-color: rgb(82, 133, 204);
    border-color: #40e0d0;
    border-radius: 10px;


}

.completed-tasks h2{
    margin-left: 20px;
    text-shadow: 202px 2000px 500px rgba(0, 0, 0, 0.5); /* horizontal offset, vertical offset, blur radius, color */
    color: white; /* Text color */
}

.item_button{
    margin-left: 10px;
    border-style:none;

}

.item_button:hover{
    background-color: rgb(132, 245, 249);
    color: black;
    border-radius: 10px;
}

.completed-tasks .completed_list{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;    
    display: flex;
    background-color: aliceblue;
    margin-left: 20px;

}
.completed-tasks .clear_btn {
    margin: 10px auto; 
    display: block;
    background-color: rgb(169, 226, 235);
    border-style: solid;
    width: 100px;
    height: 30px;
    border-radius: 2%;
    font-family: 'Times New Roman', Times, serif;

}
.completed-tasks h3{
color: rgb(255, 20, 20);
font-weight: lighter;
    
}

.clear_btn:hover{
    background-color: red;
    border-radius: 10px;
}

.todo_cont{
    background-color: rgb(13, 108, 198);
    width:100%;
    height: 60px;
    text-align: center;
    align-items: center;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

}


.inputs{
    height: 60px;
}